.about{
    background-color:rgb(225, 158, 6, 0.3);
    color:black;
    width:70%;
    position:relative;
    border-radius:15px;
    margin:auto;

    .para{
        background-color:rgb(225, 158, 6, 0.3);
        text-align:center;
        width:80%;
        position:relative;
        border-radius:13px;
        padding: 20px;
        margin:auto;
    }
}
